# Kivy specific
*.kv~
.kivy/
*.buildozer/
bin/

# virtual env
/kivy_venv
/list

# Android build
buildozer
.buildozer/
# Binary files
*.apk
*.aab

# Kivy logs and cache
kivy_install.log
.last_tmp.py
.kivy/logs/

.DS_Store
log